<div class="section" [formGroup]="form">
    <div class="names">
        <div>
            <input formControlName="fName" placeholder="First Name" class="small">
            <br>
            <span *ngIf="fNameErrors" class="warning">First name required.</span>
        </div>
        <div>
            <input formControlName="lName" placeholder="Last Name" class="small">
            <br>
            <span *ngIf="lNameErrors" class="warning">Last name required.</span>
        </div>
        
    </div>
    <br>
    <input formControlName="userName" placeholder="Username" class="big">
    <br>
    <span *ngIf="userNameErrors" class="warning">Username Required.</span>
    <br>
    <input formControlName="email" placeholder="Email address" class="big">
    <br>
    <span *ngIf="emailErrors" class="warning">Email must be in format: <b>john.doe@test.com</b></span>
    <br>
    <input formControlName="password" placeholder="Password" class="big" type="password">
    <br>
    <span *ngIf="pwErrors" class="warning">Password required.</span>
    <br>
    <input formControlName="confirmPassword" placeholder="Confirm Password" class="big" type="password">
    <br>
    <span *ngIf="confirmPwErrors" class="warning">Must confirm password.</span>
    <br>
    <br>
    <button class="primary-button" (click)="onSubmit.emit(form)">Submit</button>
</div>
