<div class="container" *ngIf="!isProcess">
    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Test Title 1</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum</span>
        </div>
    </div>
    <div class="sub">
        <span class="material-icons">&#xe88d;</span>
        <br>
        <div>
            <span class="title">Test Title 2</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum</span>
        </div>
    </div>
    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Test Title 3</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum</span>
        </div>
    </div>
</div>

<div class="container" *ngIf="isProcess">
    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Create Account</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et…</span>
        </div>
    </div>

    <div class="sub">
        <span class="material-icons">&#xe88d;</span>
        <br>
        <div>
            <span class="title">Setup Wallet</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et…</span>
        </div>
    </div>

    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Explore Market</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et…</span>
        </div>
    </div>

    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Place Offer</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et…</span>
        </div>
    </div>

    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Celebrate</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et…</span>
        </div>
    </div>
</div>
