<div class="container">
    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Test Title 1</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum</span>
        </div>
    </div>
    <div class="sub">
        <span class="material-icons">&#xe88d;</span>
        <br>
        <div>
            <span class="title">Test Title 2</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum</span>
        </div>
    </div>
    <div class="sub">
        <span class="material-icons">&#xe32a;</span>
        <br>
        <div>
            <span class="title">Test Title 3</span>
            <br>
            <br>
            <span class="paragraph">Lorem ipsum</span>
        </div>
    </div>
</div>
