.section {
    // justify-content: center;
    width: 90vw;
    text-align: center;

    .carousel-caption {
        font-family: Bona Nova;
    }
}

h5 {
    font-family: Bona Nova !important;
    font-weight: 700 !important;
    font-size: 20pt;
}

p {
    font-family: Bona Nova !important;
    font-weight: 400 !important;
    font-size: 11pt;
}

mdb-carousel {
    margin-bottom: 45px;
}