.section {
    // justify-content: center;
    width: 90vw;
    text-align: center;

    .title {
        font-family: Bona Nova;
        font-weight: 700;
        font-size: 22pt;
        color: #1c1c1c;
        margin-left: 100px;
    }
}