.header {
    position: absolute;
    background: white;
    display: flex;
    width: 100vw;
    padding: 30px;
    opacity: 1;

    .title {
        font-family: Bona Nova;
        font-weight: 700;
        font-size: 14pt;
        color: #1c1c1c;
    }

    .nav-items {
        justify-content: right !important;
        float: right;
        display: flex;

        #nav {
            font-family: Bona Nova;
            font-weight: 700;
            font-size: 12pt;
            color: #1c1c1c;
            cursor: pointer;
        }

        & > div > span {
            margin-right: 20px;
        }
    }
}

.header-static {
    position: absolute;
    background: white;
    display: flex;
    width: 100vw;
    padding: 30px;
    opacity: 1;

    .title {
        font-family: Bona Nova;
        font-weight: 700;
        font-size: 14pt;
        color: #1c1c1c;
    }
    .nav-items {
        justify-content: right !important;
        float: right;
        display: flex;

        .nav-items-text {
            font-family: Bona Nova;
            font-weight: 700;
            font-size: 12pt;
            color: #1c1c1c;
            cursor: pointer;
        }

        & > div > span {
            margin-right: 20px;
        }
    }
}