<div class="row">
    <div class="col-md-12 container">
        <div class="eye-catcher">
            <div style="margin-bottom: 35px;">
                <span class="primary-heading"><u style="color: #E0402B;">Respawn</u> the moment.</span>
                <br>
                <span class="secondary-heading">Digitally preserve and immortalize the memorable.</span>
            </div>
            <hr class="line-break">
            <div class="buttons">
                <div class="about">
                    <button class="primary-button" (click)="navigateToAbout()">What is Respawn?</button>
                    <br>
                    <br>
                    <span class="paragraph">Learn more about what we do, and how NFTs work!</span>
                </div>
                <div class="account">
                    <button class="secondary-button" (click)="navigateToAccount()">Early-bird Account</button>
                    <br>
                    <br>
                    <span class="paragraph">Get the worm on release updates, and have your account ready when the marketplace opens!</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 security">
        <app-security-details></app-security-details>
    </div>
</div>