.container {
    background: url("../../../assets/landing-art.png");
    height: 100vh;
    justify-content: center;

    .eye-catcher {
        width: 90vw;
        text-align: right;
        margin-top: 250px;
        min-width: 700px;

        .buttons {
            margin-top: 5px;
            display: flex;
            float: right;
        
            .about, .account {
                justify-content: right;
                padding: 25px;
                width: 300px;
                text-align: left;
                
                .paragraph {
                    margin-top: 25px !important;
                }
            }
        }
    }
}
.about-section {
    text-align: center;
    width: 100vw;
    height: 700px;
    background: url("../../../assets/about-wallpaper.png");

    .about-title {
        font-family: Bona Nova;
        font-weight: 700;
        font-size: 23pt;
        margin-top: 25px;
    }
}
.account {
    text-align: center;
    width: 100vw;
    height: 700px;
    background: url("../../../assets/account-wallpaper.png");

    .account-title {
        font-family: Bona Nova;
        font-weight: 700;
        font-size: 23pt;
        margin-top: 25px;
    }
}